{% extends 'mail_distribution/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Общее количество рассылок</th>
                            <th scope="col">Количество активных рассылок</th>
                            <th scope="col">Количество клиентов</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ mailing_all }}</td>
                            <td>{{ mailing_active }}</td>
                            <td>{{ client_active }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for object in blog_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text"> {{ object|title }} </p>
                        <p class="card-text"> {{ object.content }} </p>
                        <p> Количество просмотров {{ object.views_count }} </p>
                        {% if user.is_staff %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'blog:view' object.slug %}"
                                        class="btn btn-sm btn-outline-secondary">View</a>
                                    <a href="{% url 'blog:edit' object.slug %}" type="button"
                                        class="btn btn-sm btn-outline-secondary">Edit</a>
                                    <a href="{% url 'blog:delete' object.slug %}" type="button"
                                        class="btn btn-sm btn-outline-danger">Delete</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}