{% extends 'mail_distribution/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <p class="card-text">Список рассылок</p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Дата и время попытки</th>
                            <th scope="col">Ответ сервера</th>
                            <th scope="col">Рассылка</th>
                            <th scope="col">Почта</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{ object.time }}</td>
                                <td>{{ object.response }}</td>
                                <td>{{ object.mailing }}</td>
                                <td>
                                    {% for obj in object.clients.all %}
                                        {{ obj.email }}
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}