{% extends 'mail_distribution/base.html' %}

{% block content %}
<div class="row">
    {% if perms.mail_distribution.add_message %}
        <div class="col-12 mb-5">
            <a class="btn btn-primary" href="{% url 'mail_create' %}">Создать сообщение</a>
        </div>
    {% endif %}
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">Тема: {{ object.title }}</p>
                    <p class="card-text">Сообщение: {{ object.body }}</p>
                    <p class="card-text">Пользователь: {{ object.owner|default:"-" }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'mail_detail' object.pk %}"
                                    class="btn btn-sm btn-outline-secondary">Перейти</a>
                        {% if perms.mail_distribution.change_message %}
                            <a href="{% url 'mail_update' object.pk %}" type="button"
                                        class="btn btn-sm btn-outline-secondary">Изменить</a>
                        {% endif %}
                        {% if perms.mail_distribution.delete_message %}
                            <a href="{% url 'mail_delete' object.pk %}" type="button"
                                        class="btn btn-sm btn-outline-danger">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}