{% extends 'mail_distribution/base.html' %}
{% block content %}
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">
                        {% if object.is_active %}
                            {{ object|title }}
                        {% else %}
                            <span class="text-muted">{{ object|title }}</span>
                        {% endif %}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        {% if object.is_active %}
                            <a class="btn btn-warning" href="{% url 'users:toggle_activity' object.pk %}">Деактивировать</a>
                        {% else %}
                            <a class="btn btn-success" href="{% url 'users:toggle_activity' object.pk %}">Активировать</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}